apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo-homelab
  namespace: argocd
  labels:
    # This label is how ArgoCD discovers repository credentials.
    # Any Secret with this label in the argocd namespace is treated as a repo credential.
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: ${repo_url}
  sshPrivateKey: |
    ${indent(4, trimspace(ssh_private_key))}
